<h1> About us </h1>
<p id="contact-content"> Please click on the Contact Information for address and phone number </p>
<br/>
<div id="flip">Click Here for Contact Information</div>
<div id="panel"><p>321 main st</p><br/>
                <p> Los Angeles 90045 </p><br/>
                <p> Phone#: 999-888-9999 </p>
</div>

 
 