<h1> Contact </h1>
<p> This is exciting time to learn ROR </p>
<br/>
<div id="flipimage">
<%=image_tag("naveen.jpeg",  :alt => "naveen image")%>
  <br/>
 <span>Naveen Krishnan</span>
</div>
<div id="panelimage">
   <p> Software Test Engineer</p><br/>
   <P> Payoff Engineer</p><br/>
   <P> Ruby on Rails developer</p>
</div>
