<div class="row">
<form action="" id="contact-form" class="col-md-6 col-md-offset-3">
<fieldset>
<legend>Sample Contact Form <small>(will not submit any information)</small></legend>
<div class="control-group">
<label class="control-label" for="name">Your Name</label>
<div class="controls">
<input type="text" class="input-xlarge" name="name" id="name">
</div>
</div>
<div class="control-group">
<label class="control-label" for="email">Email Address</label>
<div class="controls">
<input type="text" class="input-xlarge" name="email" id="email">
</div>
</div>
<div class="control-group">
<label class="control-label" for="subject">Subject</label>
<div class="controls">
<input type="text" class="input-xlarge" name="subject" id="subject">
</div>
</div>
 <div class="control-group">
<label class="control-label" for="message">Your Message</label>
<div class="controls">
<textarea class="input-xlarge" name="message" id="message" rows="3"></textarea>
</div>
</div>
</fieldset>
<br/>
<div class="form-actions">
<button type="submit" class="btn btn-primary btn-large">Submit</button>
<button type="reset" class="btn btn-default btn-large">Cancel</button>
</div>
</fieldset</form>
</div>

<h1> Contact </h1>
<p> This is exciting time to learn ROR </p>
<br/>
<div id="flipimage">
<%=image_tag("naveen.jpeg",  :alt => "naveen image")%>
  <br/>
 <span>Naveen Krishnan</span>
</div>
<div id="panelimage">
   <p> Software Test Engineer</p><br/>
   <P> Payoff Engineer</p><br/>
   <P> Ruby on Rails developer</p>
</div>
