<div class="well well-sm">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">  
       <h3>Hello How are you?</h3>
       <h4> <%= @user.email %> </h4>
      </h3>
    </section>
  </aside>
</div>
</div>
<%#= javascript_include_tag "alert" %>

